* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 64px;
  width: 100%;
  background: linear-gradient(90deg, #0a1f44, #0b2b5e);
  display: flex;
  align-items: center;
}

.navbar nav {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 9rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  cursor: pointer;
}

.navbar nav > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.navbar nav > div:nth-child(3) {
  width: 40px;
}
.back-arrow {
  font-size: 20px;
}

.logo {
  height: 32px;
}

.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}

.stepper-wrapper {
  background: #fff;
  padding: 24px 16px;
}

.stepper-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 0 12px;
}

.progress-line {
  position: relative;
  height: 2px;
  background: #e0e0e0;
  margin: 0 1rem;
}

.progress-fill {
  position: absolute;
  height: 100%;
  width: 33.33%;
  background: #007bff;
  left: 0;
  top: 0;
}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -9px !important;
  left: 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step p {
  margin-top: 6px;
  font-size: 14px;
  color: #212529;
  white-space: nowrap;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  background: #fff;
}

.tick,
.plane {
  width: 22px;
  height: 22px;
  background: #fff;
}

.step.completed img,
.step.active img {
  width: 22px;
}

.step.active .circle {
  border-color: #007bff;
}

@media (max-width: 768px) {
  .stepper-wrapper {
    padding: 20px 10px;
  }
  .step p {
    font-size: 12px;
  }
  .steps {
    top: -12px;
  }
  .navbar nav {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
  .step p {
    font-size: 10px;
  }
}
