* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  height: 64px;
  width: 100%;
  background: #0B2347;
  display: flex;
  align-items: center;
}

.navbar nav {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 6rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  cursor: pointer;
}

.navbar nav > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.navbar nav > div:nth-child(3) {
  width: 40px;
}
.back-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  text-decoration:none !important;
}

.back-text{
    font-size: 15px;
    color: white;
}

.logo {
  height: 32px;
}

.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}

.stepper-wrapper {
  background: #fff;
  padding: 3rem 6rem;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.stepper-container {
  max-width: 1600px;
  margin: auto;
  position: relative;
  padding: 0 12px;
}

.progress-line {
  position: relative;
  height: 2px;
  background: #e0e0e0;
  margin: 0 1rem;
}

.progress-fill {
  position: absolute;
  height: 100%;
  width: 33.33%;
  background: #0078D4;
  left: 0;
  top: 0;
}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -9px !important;
  left: 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.step p {
  margin-top: 6px;
  font-size: 14px;
  color: #212529;
  white-space: nowrap;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  background: #fff;
}

.tick,
.plane {
  width: 22px;
  height: 22px;
  background: #fff;
}

.step.completed img,
.step.active img {
  width: 22px;
}

.step.active .circle {
  border-color: #007bff;
}

.trip-details {
  background: #fff;
  margin-top: 1rem;
}

.trip-details-bar {
  display: grid;
  grid-template-columns: auto 1px auto 1px auto auto;
  align-items: center;
  gap: 24px;
  padding: 20px 6rem;
}

.item {
  display: flex;
  gap: 6px;
  align-items: center;
}

.label {
  font-weight: 600;
  color: #0a1f44;
}

.value {
  color: #666;
}

.divider {
  width: 1px;
  height: 24px;
  background: #ddd;
}

.edit-btn {
  margin-left: auto;
  padding: 5px 14px;
  border: 1px solid #0078D4;
  background: transparent;
  color: #0078D4;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.trip-details-card {
  display: none;
  padding: 24px 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card-header h2 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: #0B2347;
}

.card-row {
    margin-bottom: 22px;
}

.card-row .label {
    display: block;
    color: #0B2347;
  margin-bottom: 6px;
  line-height: 22.5px;
  font-size: 15px;
}

.card-row .value {
    color: #636363;
    line-height: 22.5px;
  font-size: 15px;
}

@media (max-width: 768px) {

}


@media (max-width: 925px) {
  .stepper-wrapper {
    padding: 20px 10px;
  }
  .step p {
    font-size: 12px;
  }
  .steps {
    top: -12px;
  }
  .navbar nav {
    padding: 0 1rem;
  }
    .trip-details-bar {
    display: none;
  }

  .trip-details-card {
    display: block;
  }
}

@media (max-width: 480px) {
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
  .step p {
    font-size: 10px;
  }
}

